<!-- Documentación: Categorías de Recetas -->
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
	<meta charset="UTF-8">
	<title>Categorias de Recetas</title>
	<link rel="stylesheet" th:href="@{../css/estilos.css}">
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
		crossorigin="anonymous">
</head>
<body>
	<!-- Encabezado -->
	<header th:replace="~{layouts/header :: header}"></header>

	<!-- Título principal -->
	<h1 class="fs-1 text-center">Seleccione una categoría de recetas</h1>
	
	<!-- Contenedor principal -->
	<div class="container">
		<div class="row">
			<!-- Categoría de Recetas: Carne -->
			<div class="col-md-4">
				<div class="card">
					<img src="../images/3.jpeg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Recetas de Carne</h5>
						<p class="card-text">receta de carnes
                                             ofrece una variedad de opciones deliciosas y nutritivas para aquellos que desean mantener una alimentación equilibrada sin sacrificar el sabor. Estas recetas se centran en la selección de cortes magros de carne y en métodos de cocción saludables, como el asado, a la parrilla o al horno, para reducir el contenido de grasas y calorías..</p>
						<a href="/recetas/recetas-de-carnes" class="btn btn-primary">Buscar</a>
					</div>
				</div>
			</div>
			<!-- Categoría de Recetas: Bebidas -->
			<div class="col-md-4">
				<div class="card">
					<img src="../images/6.jpeg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Recetas de Bebidas</h5>
						<p class="card-text">"Recetas de Bebidas Saludables" ofrece una variedad de opciones refrescantes y nutritivas que pueden beneficiar tu bienestar general. Estas recetas están diseñadas para ser deliciosas, fáciles de preparar y contribuir a un estilo de vida saludable. Desde jugos y batidos hasta infusiones y tés, encontrarás bebidas que están llenas de ingredientes naturales, vitaminas y antioxidantes.</p>
						<a href="/recetas/recetas-de-bebidas" class="btn btn-primary">Buscar</a>
					</div>
				</div>
			</div>
			<!-- Categoría de Recetas: Dulces -->
			<div class="col-md-4">
				<div class="card">
					<img src="../images/4.jpeg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Recetas Dulces</h5>
						<p class="card-text">"Recetas de dulces saludables" ofrece opciones deliciosas y satisfactorias para aquellos que desean disfrutar de postres dulces sin comprometer su bienestar. Estas recetas se centran en la utilización de ingredientes nutritivos y alternativas más saludables para reducir el contenido de azúcar refinada, grasas saturadas y calorías en los dulces..</p>
						<a href="/recetas/recetas-de-dulces" class="btn btn-primary">Buscar</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- Categoría de Recetas: Ensaladas -->
			<div class="col-md-4">
				<div class="card">
					<img src="../images/1.jpeg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Recetas de Ensaladas</h5>
						<p class="card-text">Distintos acompañamientos saludables para tus comidas. Aprende de las mejores recetas de ensaladas.</p>
						<a href="/recetas/recetas-de-ensaladas" class="btn btn-primary">Buscar</a>
					</div>
				</div>
			</div>
			<!-- Categoría de Recetas: Cereales y Legumbres -->
			<div class="col-md-4">
				<div class="card">
					<img src="../images/7.jpeg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Recetas de Cereales y Legumbres</h5>
						<p class="card-text">"Recetas de Legumbres Saludables" te ofrece una amplia selección de deliciosas recetas que destacan las legumbres como protagonistas. Las legumbres, como los frijoles, lentejas, garbanzos y guisantes, son una excelente fuente de proteínas vegetales, fibra, vitaminas y minerales esenciales.</p>
						<a href="/recetas/recetas-de-legumbres-y-cereales" class="btn btn-primary">Buscar</a>
					</div>
				</div>
			</div>
			<!-- Categoría de Recetas: Pescados -->
			<div class="col-md-4">
				<div class="card">
					<img src="../images/8.jpeg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Recetas de Pescados</h5>
						<p class="card-text">"Recetas de Pescado Saludables" te ofrece una variedad de opciones deliciosas y nutritivas para incorporar pescado en tu dieta de manera saludable. El pescado es una excelente fuente de proteínas magras, ácidos grasos omega-3 y otros nutrientes esenciales para la salud. En esta categoría, encontrarás recetas que resaltan diferentes tipos de pescado, como salmón, atún, trucha y bacalao, entre otros.</p>
						<a href="/recetas/recetas-de-pescados" class="btn btn-primary">Buscar</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- Categoría de Recetas: Pan -->
			<div class="col-md-4">
				<div class="card">
					<img src="../images/2.jpeg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Recetas de Pan</h5>
						<p class="card-text">Recetas de Pan Saludables" te ofrece una amplia gama de opciones deliciosas y nutritivas para disfrutar del pan de una manera más saludable. Estas recetas están diseñadas para que puedas disfrutar del placer de comer pan sin comprometer tu bienestar. Encontrarás recetas que utilizan ingredientes integrales, como harinas de trigo integral, avena y otros granos enteros, que ofrecen una mayor cantidad de fibra y nutrientes en comparación con el pan blanco tradicional.</p>
						<a href="/recetas/recetas-de-pan" class="btn btn-primary">Buscar</a>
					</div>
				</div>
			</div>
			<!-- Categoría de Recetas: Sopas y Cremas -->
			<div class="col-md-4">
				<div class="card">
					<img src="../images/5.jpeg" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Recetas de Sopas y Cremas</h5>
						<p class="card-text">Recetas de sopa saludables" te ofrece una variedad de opciones reconfortantes y nutritivas para disfrutar en cualquier época del año. Estas recetas se centran en la utilización de ingredientes frescos y saludables, como verduras, legumbres y caldos bajos en sodio, para crear sopas sabrosas y equilibradas.</p>
						<a href="/recetas/recetas-de-sopas-y-cremas" class="btn btn-primary">Buscar</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Pie de página -->
	<footer th:replace="~{layouts/footer :: footer}"></footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
