<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximun-scale=1, user-scalable=no">
		<title>Recetas Nuevas</title>
		<link th:rel= "stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</head>
	<body>
		<section>
			<div class="custom-container container text-center mb-3 mt-5">
     	   		<h1 class="m-auto" style="font-family: 'Belanosima', sans-serif;">Recetas Nuevas</h1>
	       		<img th:src="@{/images/logo.png}" width="220px" title="Logo de Nutri Vida" alt="logo de Nutri Vida">
					<form th:action="${edicion}?@{/recetas/modificar}:@{/recetas/guardar}" th:object="${receta}" method="post" enctype="multipart/form-data">
						<h2 th:text="${edicion}?'Editar Recetas' : 'Receta Nueva'"></h2>
							<div class="row mb-1">
		 						<div class="col-12">		
									<div hidden="">
										<label class="lablelogin">ID</label>
										<input class="inputLogin" type="text" id="id" name="id_receta" th:fild="*{id}">
									</div>
								</div>
							</div>
							<div class="row mb-1">
		 						<div class="col-12">
									<label class="lablelogin">Nombre de la receta</label>
									<div>
										<input class="inputLogin"  type="text" id="nombre" name="nombre_receta" th:fild="*{nombre}">
									</div>
								</div>
							</div>
							<div class="row mb-1">
		 						<div class="col-12">
										<label class="lablelogin">Cartegorias</label>
									<div>
										<select class="lablelogin" id="categoria" name="categoria_receta" th:fild="*{categoria}">
											<option value="" selected>Seleccione una categoria</option>
											<option> Recetas de Carnes</option>
											<option> Recetas de Bebidas</option>
											<option> Recetas de Dulces</option>
											<option> Recetas de Ensaladas</option>
											<option> Recetas de Legumbres y Cereales </option>
											<option> Recetas de Pescados</option> 
											<option> Recetas de Pan </option>
											<option> Recetas de Sopas y Cremas</option> 
										</select>
									</div>
								</div>
							</div>
							<div class="row mb-1">
		 						<div class="col-12">
									<label class="lablelogin">Ingredientes</label>
									<div>			
										<input class="inputLogin"  type="text" id="ingrediente" name="ingrediente_receta" th:fild="*{ingredientes}">
									</div>
								</div>
							</div>
							<div class="row mb-1">
		 						<div class="col-12">
									<label class="lablelogin">Preparacion</label>	
										<div>
											<textarea class="inputLogin" rows="5" cols="37" id="preparacion}" name="preparacion_receta" th:fild=*{preparacion}></textarea>
										</div>
								</div>
							</div>
						<div class="row mb-1">
		 						<div class="col-12">
									<label class="lablelogin">Imagen</label>
										<div>
											<input class="inputLogin" type="file" id="imagen" name="imagen_receta" th:filed="*{imagen}" accept="image/*">
											<input class="inputLogin"  type="submit" value="Cargar imagen">
										</div>
								</div>
						</div>
						<button data-bs-toggle="modal" data-bs-target="#exampleModal" type="submit" th:text="${edicion}?'Modificar':'Guardar'"></button>
				</form>
				
			</div>
		</section>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>