<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximun-scale=1, user-scalable=no">
		<title>Registro</title>
		<link th:rel= "stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</head>
	
	
	<body>
	
		<header	th:replace = "~{layouts/header:: header}"></header>	
		
	<div class="conteiner mt-4">
		<div class="row justify-content-center">
			<div class="card text-center border-success " style="width: 35rem;">
			<br>
			<h3 class="card-title">Registro de Usuario</h3>
					<div class="card-body d-flex justify-content-center align-items-center">
							
						
						<form th:action="@{/index/guardar}"th:object="${usuario}" method="post">
							
							 <div hidden="">
								<label >Id</label>
								<input class="inputForm" type="text" id="id" name="usuario_codigo" th:field="*{id}" th:readonly="${edicion}?'readonly'">
							</div><br> 
							
							
							
							<div class="row g-3 align-items-center">
								<div class="col-auto">
									<label for="nombre usuario" class="col-form-label">Nombre</label>
								</div>
								
								<div class="col-auto">
									<input type="text" id="nombreusuario" class="form-control"  name="nombre_usuario" th:field="*{nombre}">
								</div>
								
								<div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
							</div><br>
							
							
							
							
							<div  class="row g-3 align-items-center">
								<div class="col-auto">
									<label for="apellido usuario" class="col-form-label">Apellido</label>
								</div>
								
								<div class="col-auto">
									<input type="text" id="apellidousuario" name="apellido_usuario" class="form-control" th:field="*{apellido}" >
								</div>
								<div class="text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
							</div><br>
							
							
							<div class="row g-3 align-items-center" >
								<div class="col-auto">
									<label for="email usuario" class="col-form-label">Email</label>
								</div>
								
								<div class="col-auto">
									<input type="text" id="emailusuario" class="form-control" name="usuario_email" placeholder="nombre@example.com" th:field="*{email}">
								</div>
								
								<div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
							</div><br>
							
				
							<div class="row g-3 align-items-center">
								<div class="col-auto">
									<label for="fecha nacimiento" class="col-form-label">Fecha de Nacimiento</label>
								</div>
								
								<div class="col-auto">
									<input type="date" id="fecha" class="form-control" name="fecha_nacimiento" th:field="*{fechaNac}">
								</div>
								<div class="text-danger" th:if="${#fields.hasErrors('fechaNac')}" th:errors="*{fechaNac}"></div>
							</div><br>
							
							<div class="row g-3 align-items-center">
								<div class="col-auto">
									<label for="telefono usuario" class="col-form-label">Teléfono</label>
								</div>
								
								<div class="col-auto">
									<input type="text" id="telefonousuario" class="form-control" name="usuario_telefono"  th:field="*{telefono}">
								</div>
								<div class="text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
							</div><br>
							
							
							<div  class="row g-3 align-items-center">
								<div class="col-auto">
									<label for="genero" class="col-form-label" >Género</label>
								</div>
								
								<div class="col-auto">

									<select  id="genero" name="usuario_genero" class="form-control" th:field="*{genero}">
									<option value="" selected>Seleccione una opción</option>
									<option value="Femenino">Femenino</option>
									<option value="Masculino">Masculino</option>
									<option value="Otro">Otro</option>
									</select>
								</div>
								
								<div class="text-danger" th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></div>
							</div><br>
							
							<div class="row g-3 align-items-center">
								<div class="col-auto">
									<label for="estatura usuario"  class="col-form-label" >Estatura</label>
								</div>
								
								<div class="col-auto">
									<input type="text" id="estaturausuario" class="form-control" name="usuario_estatura" th:field="*{estatura}" >
								</div>
								<div class="text-danger" th:if="${#fields.hasErrors('estatura')}" th:errors="*{estatura}"></div>
							</div><br>
							
								<button  class="btn btn-outline-success" type="submit" th:text="Guardar"></button>
								 <!--  p><input type="submit" class="button" value="Guardar"></p>-->
						
								
								
						</form>	
							
				</div>

	   </div>
		</div>
</div>
	
		
	
	    <footer></footer>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
	        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
	        crossorigin="anonymous"></script>
	
	</body>
</html>
