<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
		<head>
			<meta charset="UTF-8">
		 	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
			<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		</head>
		<body>
			<header>
					 <nav class="navbar navbar-expand-lg bg-light">
							  <div class="container">
								    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
								      <span class="navbar-toggler-icon"></span>
								    </button>
									    <a class="navbar-brand"><img th:src="@{../images/logo.png}" style="width: 200px;" class="navbar-brand " alt="Logo de Nutricion">
									    </a>
								    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
									      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
									       		<li class="nav-item">
									 				<a class= "nav-link "th:href="@{/inicio}">Inicio</a>
									 			</li>
									 			<li class="nav-item">
									 				<a class= "nav-link" th:href="@{/registrarme}">Registrarme</a>
									 			</li>
									 			<li class="nav-item">
									 				<a class= "nav-link " th:href="@{/recetas}">Recetas</a>
									 			</li>
									 			<li class="nav-item dropdown mx-2"><a
														class="nav-link dropdown-toggle" href=""
														id="navbarDropdownservicios" role="button"
														data-bs-toggle="dropdown" aria-expanded="false">Servicios</a>
													<ul class="dropdown-menu"
														aria-labelledby="navbarDropdownservicios">
														<li><a class="dropdown-item" th:href="@{/calcular}">Calcular IMC</a></li>
														<li><a class="dropdown-item" th:href="@{/pesoideal}">Peso Ideal</a></li>
													</ul></li>
									 			<li class="nav-item">
									 				<a class= "nav-link " th:href="@{/testimonios}">Testimonios</a>
									 			<li class="nav-item">
									 				<a class= "nav-link " th:href="@{/contacto}">Contactanos</a>
									 			</li>
									 			<li class="nav-item">
									 				<a class= "nav-link " th:href="@{/login}">Gestion de datos</a>
									 			</li>
									 			
					 					    </ul>
								    </div>
							  </div>
						</nav>	
				</header>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
			        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
			        crossorigin="anonymous"></script>
			
		</body>
</html>

